.hinhnen {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/image/Go_1366_30.png'); */
    font-size: 18px;
}

.flexDuy {
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

.content-left {
    background: #010C07;
    padding: 3px;
    padding-right: 9px;
}

.blue {
    color: rgb(152, 201, 221);
    flex: 1;
    margin-bottom: 3px;
}

.yellowFLex {
    color: yellow;
    flex: 1;
    margin-bottom: 3px;
    text-align: right;
}

.green {
    color: #37dc3f;
}

.orange {
    color: orange;
}

.grey {
    background: #2F3231;
    opacity: 0.8;
    /* text-align: center; */
}

.table-left {
    width: 80%;
    z-index: 1;
    font-size: 15px;
}

.table-left tbody tr td {
    background: #1C3D4F;
    opacity: 0.8;
    padding: 3px;
}
.table-detail {
    width: 99%;
    z-index: 1;
    font-size: 15px;
    
    justify-content: center;
}
.table-detail tbody tr td {
    background: #1C3D4F;
    opacity: 0.8;
    padding: 3px;
}
/* .column1 {
    width: 30%;
}

.column2 {
    width: 10%;
}

.column3 {
    width: 60%;
    text-align: center;
    position: relative;
} */
.column3 {
    text-align: center;
    position: relative;
}
.persent {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    color:rgb(190, 246, 6)
}

.table-right {
    width: 80%;
    z-index: 1;
    font-size: 15px;
}



@media (min-width: 870px) and (max-width: 1024px) {
    .ReactModal__Content {
      width: 60% !important;
      max-width: 50% !important; 
    }
  }
  
  @media (max-width: 869px) {
    .ReactModal__Content {
      width: 90% !important;
      max-width: 85% !important;  

    }
  }


 .ReactModal__Overlay, .ReactModal__Overlay ReactModal__Overlay--after-open {
    position: absolute !important;
    z-index:99 !important;
 } 