@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  background-color: black;
}

::-webkit-scrollbar {
    width: 3px;
    border-radius:24px;
    height: 3px;
    
  }
  ::-webkit-scrollbar-track-piece {
    background-color: black;
}
  /* Track */
  ::-webkit-scrollbar-track {
    background: #181717; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #530202; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a50707; 
  }
  .needle-animation {
    transition: transform 0.5s ease-in-out;
  }